#imagePlaceholder {
  display: flex;
  gap: 60px;
  width: 100%;
  background-color: $background;
  > img {
    height: 691px;
    object-fit: cover;
    width: calc(50% - 30px);
  }
  .right {
    width: calc(50% - 30px);
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 460px;
      > h2 {
        @include text(51px, 600, 110%);
      }
      > p {
        @include text(22px, 400, 160%);
      }
    }
    > form {
      width: 330px;
      display: flex;
      flex-direction: column;

      > .box {
        position: relative;
        > input {
          @include input(330px, 46px);
          border: 1px solid $caption-Label-Text;
          font-family: "Work Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          padding-left: 52px;
          align-items: center;
        }
        margin-bottom: 15px;
        &:nth-child(4) {
          margin-bottom: 30px;
        }
        > img {
          position: absolute;
          left: 20px;
          top: 13px;
        }
      }
      > button {
        @include buttonPurple(46px);
        width: 330px;
        @include text(16px, 600, 140%);
      }
    }
  }
}

@include for-type(tablet) {
  #imagePlaceholder {
    gap: 40px;
    > img {
      height: 615px;
      width: calc(50% - 20px);
    }
    .right {
      padding: 80px 0px;
      width: calc(50% - 20px);
      .text {
        width: 325px;
        > h2 {
          font-size: 38px;
          font-weight: 600;
          line-height: 120%;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
        }
      }

      > form {
        width: 325px;

        > .box {
          > input {
            width: 325px;
          }
        }
        > button {
          width: 325px;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #imagePlaceholder {
    padding: 0;
    gap: 0;
    flex-direction: column;
    align-items: center;
    > img {
      width: 100%;
    }
    .right {
      width: 100%;
      align-items: center;
      padding: 30px 0px 40px 0px;
      gap: 30px;
      .text {
        width: 315px;
      }
      > form {
        width: 315px;

        > .box {
          > input {
            width: 315px;
          }
        }
        > button {
          width: 315px;
        }
      }
    }
  }
}
