#hero {
  background-color: $background;
  @include flexCenter();
  padding: 80px 0px;
  .content {
    width: 1050px;
    display: flex;
    column-gap: 30px;
    .leftHero {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .topText {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 510px;
        > h4 {
          @include text(67px, 600, 110%);
        }
        > p {
          @include text(22px, 400, 160%);
        }
      }
      .GetStartedhero {
        @include buttonPurple(60px);
        width: 224px;
        &:hover {
          scale: 1.05;
        }
        &:active {
          scale: 1;
        }
      }
    }
    .bottomCount {
      display: flex;
      column-gap: 30px;
      .numbers {
        display: flex;
        flex-direction: column;
        > h4 {
          width: 150px;
          @include text(28px, 700, 140%);
        }
        > p {
          width: 150px;
          @include text(23.99px, 400, 160%);
        }
      }
    }
    .rightHero2 {
      display: none;
    }
    .rightHero {
      display: flex;
      flex-direction: column;
      > img {
        height: 401px;
        width: 510px;
        object-fit: cover;
        border-top-left-radius: $border-radius-default;
        border-top-right-radius: $border-radius-default;
      }
      .rightBottom {
        background-color: $background-secondary;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border-bottom-left-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;
        > h5 {
          @include text(22px, 600, 140%);
        }
        .animaKid {
          display: flex;
          column-gap: 12px;
          > img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
          > p {
            @include text(16px, 400, 140%);
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #hero {
    .content {
      width: 690px;
      .leftHero {
        row-gap: 20px;
        .topText {
          width: 330px;
          > h4 {
            font-size: 38px;
            line-height: 120%;
          }
          > p {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }
      .bottomCount {
        .numbers {
          > h4 {
            width: 90px;
            font-size: 22px;
            line-height: 160%;
          }
          > p {
            width: 90px;

            font-size: 16px;
            line-height: 140%;
          }
        }
      }
      .rightHero {
        > img {
          width: 330px;
          height: 221px;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #hero {
    padding: 40px 0px;
    .content {
      width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
      .leftHero {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        .topText {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;
          width: 315px;
          > h4 {
            font-size: 28px;
            font-weight: 600;
            line-height: 140%;
          }
          > p {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
          }
        }
        .GetStartedhero {
          @include buttonPurple(60px);
          width: 315px;
          &:hover {
            scale: 1.05;
          }
          &:active {
            scale: 1;
          }
        }
      }
      .bottomCount {
        display: flex;
        column-gap: 30px;
        .numbers {
          display: flex;
          flex-direction: column;
          > h4 {
            width: 85px;
            @include text(22px, 700, 160%);
          }
          > p {
            width: 85px;
            @include text(16px, 400, 140%);
          }
        }
      }
      .rightHero {
        display: none;
      }
      .rightHero2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
          width: 315px;
          height: 206px;
          object-fit: cover;
          border-top-left-radius: $border-radius-default;
          border-top-right-radius: $border-radius-default;
        }
        .rightBottom {
          width: 315px;
          background-color: $background-secondary;
          padding: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          border-bottom-left-radius: $border-radius-default;
          border-bottom-right-radius: $border-radius-default;
          > h5 {
            @include text(22px, 600, 140%);
          }
          .animaKid {
            display: flex;
            column-gap: 12px;
            > img {
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
            > p {
              @include text(16px, 400, 140%);
            }
          }
        }
      }
    }
  }
}

#trending {
  padding: 80px 0px;
  @include flexCenter();
  flex-direction: column;
  background-color: $background;
  > h3 {
    @include text(38px, 600, 120%);
    text-align: start;
    width: 1046px;
  }
  > p {
    @include text(22px, 400, 160%);
    text-align: start;
    margin-top: 10px;
    width: 1046px;
  }
  .boxes {
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
    .box {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      align-items: start;
      > img {
        width: 330px;
        height: 330px;
        border-radius: $border-radius-default;
        @include hoverForTrending();
      }
      .moreImg {
        display: flex;
        column-gap: 15px;
        > img {
          width: 100px;
          height: 100px;
          border-radius: $border-radius-default;
          @include hoverForTrending();
        }
        .more {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background-color: $call-to-action;
          border-radius: $border-radius-default;
          @include text(22px, 700, 160%);
          font-family: "Space Mono";
          @include hoverForTrending();
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        > h5 {
          @include text(22px, 600, 140%);
        }
        .account {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 12px;
          > img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            cursor: pointer;
          }
          > p {
            @include text(16px, 400, 140%);
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #trending {
    padding: 40px 0px;

    > h3 {
      width: 690px;
      font-size: 28px;
      font-weight: 600;
      line-height: 140%;
    }
    > p {
      width: 690px;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
    .boxes {
      margin-top: 40px;
      .box {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #trending {
    > h3 {
      width: 315px;
    }
    > p {
      width: 315px;
    }
    .boxes {
      .box {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
