body {
  background-color: $background;
}

#hero {
  background-color: $background;
  @include flexCenter();
  padding: 80px 0px;
  .content {
    width: 1050px;
    display: flex;
    column-gap: 30px;
    .leftHero {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .topText {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 510px;
        > h4 {
          @include text(67px, 600, 110%);
        }
        > p {
          @include text(22px, 400, 160%);
        }
      }
      .GetStartedhero {
        @include buttonPurple(60px);
        width: 224px;
        &:hover {
          scale: 1.05;
        }
        &:active {
          scale: 1;
        }
      }
    }
    .bottomCount {
      display: flex;
      column-gap: 30px;
      .numbers {
        display: flex;
        flex-direction: column;
        > h4 {
          width: 150px;
          @include text(28px, 700, 140%);
        }
        > p {
          width: 150px;
          @include text(23.99px, 400, 160%);
        }
      }
    }
    .rightHero2 {
      display: none;
    }
    .rightHero {
      display: flex;
      flex-direction: column;
      > img {
        height: 401px;
        width: 510px;
        object-fit: cover;
        border-top-left-radius: $border-radius-default;
        border-top-right-radius: $border-radius-default;
      }
      .rightBottom {
        background-color: $background-secondary;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border-bottom-left-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;
        > h5 {
          @include text(22px, 600, 140%);
        }
        .animaKid {
          display: flex;
          column-gap: 12px;
          > img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
          }
          > p {
            @include text(16px, 400, 140%);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #hero {
    .content {
      width: 690px;
      .leftHero {
        row-gap: 20px;
        .topText {
          width: 330px;
          > h4 {
            font-size: 38px;
            line-height: 120%;
          }
          > p {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }
      .bottomCount {
        .numbers {
          > h4 {
            width: 90px;
            font-size: 22px;
            line-height: 160%;
          }
          > p {
            width: 90px;

            font-size: 16px;
            line-height: 140%;
          }
        }
      }
      .rightHero {
        > img {
          width: 330px;
          height: 221px;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #hero {
    padding: 40px 0px;
    .content {
      width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
      .leftHero {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        .topText {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;
          width: 315px;
          > h4 {
            font-size: 28px;
            font-weight: 600;
            line-height: 140%;
          }
          > p {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
          }
        }
        .GetStartedhero {
          @include buttonPurple(60px);
          width: 315px;
          &:hover {
            scale: 1.05;
          }
          &:active {
            scale: 1;
          }
        }
      }
      .bottomCount {
        display: flex;
        column-gap: 30px;
        .numbers {
          display: flex;
          flex-direction: column;
          > h4 {
            width: 85px;
            @include text(22px, 700, 160%);
          }
          > p {
            width: 85px;
            @include text(16px, 400, 140%);
          }
        }
      }
      .rightHero {
        display: none;
      }
      .rightHero2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
          width: 315px;
          height: 206px;
          object-fit: cover;
          border-top-left-radius: $border-radius-default;
          border-top-right-radius: $border-radius-default;
        }
        .rightBottom {
          width: 315px;
          background-color: $background-secondary;
          padding: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          border-bottom-left-radius: $border-radius-default;
          border-bottom-right-radius: $border-radius-default;
          > h5 {
            @include text(22px, 600, 140%);
          }
          .animaKid {
            display: flex;
            column-gap: 12px;
            > img {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              cursor: pointer;
            }
            > p {
              @include text(16px, 400, 140%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#trending {
  padding: 80px 0px;
  @include flexCenter();
  flex-direction: column;
  background-color: $background;
  > h3 {
    @include text(38px, 600, 120%);
    text-align: start;
    width: 1046px;
  }
  > p {
    @include text(22px, 400, 160%);
    text-align: start;
    margin-top: 10px;
    width: 1046px;
  }
  .boxes {
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
    .box {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      align-items: start;
      > img {
        width: 330px;
        height: 330px;
        border-radius: $border-radius-default;
        @include hoverForTrending();
      }
      .moreImg {
        display: flex;
        column-gap: 15px;
        > img {
          width: 100px;
          height: 100px;
          border-radius: $border-radius-default;
          @include hoverForTrending();
        }
        .more {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background-color: $call-to-action;
          border-radius: $border-radius-default;
          @include text(22px, 700, 160%);
          font-family: "Space Mono";
          @include hoverForTrending();
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        > h5 {
          @include text(22px, 600, 140%);
        }
        .account {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 12px;
          > img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            cursor: pointer;
          }
          > p {
            @include text(16px, 400, 140%);
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #trending {
    padding: 40px 0px;

    > h3 {
      width: 690px;
      font-size: 28px;
      font-weight: 600;
      line-height: 140%;
    }
    > p {
      width: 690px;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
    .boxes {
      margin-top: 40px;
      .box {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #trending {
    > h3 {
      width: 315px;
    }
    > p {
      width: 315px;
    }
    .boxes {
      .box {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

#topRatedArtists {
  background-color: $background;
  padding: 80px 0px;
  @include flexCenter();
  flex-direction: column;
  .viewRankings2 {
    display: none;
  }
  .top {
    display: flex;
    column-gap: 100px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 10px;
      width: 703px;
      > h3 {
        @include text(38px, 600, 120%);
      }
      > p {
        @include text(22px, 400, 160%);
      }
    }
    .viewRankings {
      @include buttonHollow(60px);
      @include text(16px, 600, 140%);
      align-self: flex-end;
    }
  }
  .cards {
    @include flexCenter();
    gap: 30px;
    flex-wrap: wrap;
    width: 1050px;
    margin-top: 60px;
    .card {
      width: 240px;
      height: 238px;
      padding: 20px;
      background-color: $background-secondary;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      border-radius: $border-radius-default;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        .top {
          .number {
            opacity: 0;
          }
          > img {
            scale: 1.3;
            border-radius: 20px;
            transform: translateY(30px);
            box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
              0px 25px 20px -20px rgba(0, 0, 0, 0.45);
          }
        }
        .bottom {
          filter: blur(3px);
          transform: translateY(-20px);
          opacity: 0;
        }
      }
      .top {
        position: relative;
        width: 100%;
        @include flexCenter();
        .number {
          @include flexCenter();
          position: absolute;
          background-color: $background;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          left: 0;
          top: 0;
          @include text(16px, 400, 140%);
          font-family: "Space Mono";
          color: $caption-Label-Text;
          transition: 0.4s;
        }
        > img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          transition: 0.4s;
        }
      }
      .bottom {
        @include flexCenter();
        flex-direction: column;
        row-gap: 5px;
        transition: 0.4s;
        > h5 {
          width: 200px;
          height: 31px;
          @include text(22px, 600, 140%);
          text-align: center;
        }
        .sales {
          display: flex;
          column-gap: 10px;
          > p:first-child {
            width: 95px;
            height: 22px;
            @include text(16px, 400, 140%);
            color: $caption-Label-Text;
            text-align: center;
          }
          > p:last-child {
            width: 95px;
            height: 22px;
            @include text(16px, 400, 140%);
            text-align: center;
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #topRatedArtists {
    padding: 40px 0px;
    .top {
      .left {
        width: 343px;
        gap: 10px;
        > h3 {
          font-size: 28px;
          font-weight: 600;
          line-height: 140%;
        }
        > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
    .cards {
      width: 690px;
      .card {
        @include multiple-none(7, 12);
        flex-direction: row;
        width: 330px;
        height: 100px;
        column-gap: 20px;
        &:hover {
          .top {
            > img {
              scale: 1.3;
              border-radius: 20px;
              transform: translateY(0px);
              transform: translateX(86.5px);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
            }
          }
          .bottom {
            filter: blur(3px);
            transform: translateY(-20px);
            opacity: 0;
          }
        }
        .top {
          height: 60px;
          width: 60px;
          .number {
            left: -8px;
            top: -7px;
          }
          > img {
            height: 60px;
            width: 60px;
          }
        }
        .bottom {
          > h5 {
            text-align: start;
          }
          .sales {
            gap: 5px;
            > p:first-child {
              text-align: start;
              width: 102, 5px;
              height: 22px;
            }
            > p:last-child {
              text-align: start;
              width: 102, 5px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}

@include for-type(mobile) {
  #topRatedArtists {
    .viewRankings2 {
      @include buttonHollow(60px);
      @include text(16px, 600, 140%);
      width: 315px;
      margin-top: 40px;
    }
    .top {
      .left {
        width: 315px;
      }
      .viewRankings {
        display: none;
      }
    }
    .cards {
      width: 315px;
      .card {
        @include multiple-none(6, 12);
      }
    }
  }
}

#browseCategories {
  padding: 80px 0px;
  @include flexCenter();
  flex-direction: column;
  row-gap: 60px;
  background-color: $background;
  h3 {
    @include text(38px, 600, 120%);
    width: 1050px;
    text-align: start;
  }
  .cards {
    @include flexCenter();
    gap: 30px;
    flex-wrap: wrap;
    width: 1050px;
    .card {
      display: flex;
      flex-direction: column;
      height: 316px;
      width: 240px;
      cursor: pointer;
      &:hover {
        .images {
          > img {
            &:first-child {
              scale: 1.05;
              transform: translateY(-5px);
              filter: blur(0);
              background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0) 80%,
                rgba(0, 0, 0, 1) 100%
              );
            }
            &:last-child {
              opacity: 0;
            }
          }
        }
        .bottom {
          transform: translateY(2px);
          box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
          scale: 0.95;
          filter: blur(1px);
        }
      }
      .images {
        position: relative;
        transition: 0.3s;
        > img {
          transition: 0.3s;
          &:first-child {
            height: 240px;
            width: 240px;
            filter: blur(3px);
            border-top-left-radius: $border-radius-default;
            border-top-right-radius: $border-radius-default;
            transition: 0.3s;
          }
          &:last-child {
            height: 100px;
            width: 100px;
            position: absolute;
            left: 70px;
            top: 70px;
            transition: 0.3s;
          }
        }
      }
      .bottom {
        transition: 0.3s;
        background-color: $background-secondary;
        padding: 20px 30px;
        @include text(22px, 600, 140%);
        border-bottom-left-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;
      }
    }
  }
}

@include for-type(tablet) {
  #browseCategories {
    padding: 40px 0px;
    gap: 40px;
    h3 {
      width: 690px;
      font-size: 28px;
      font-weight: 600;
      line-height: 140%;
    }
    .cards {
      width: 690px;
      .card {
        height: 209px;
        width: 150px;
        &:hover {
          .images {
            > img {
              &:first-child {
                transform: translateY(-3px);
              }
            }
          }
          .bottom {
            transform: translateY(1px);
          }
        }
        .images {
          > img {
            &:first-child {
              height: 142px;
              width: 150px;
            }
            &:last-child {
              height: 80px;
              width: 80px;
              left: 35px;
              top: 31px;
            }
          }
        }
        .bottom {
          padding: 20px;
          font-size: 16px;
          font-weight: 600;
          line-height: 140%;
          height: 67px;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #browseCategories {
    h3 {
      width: 315px;
    }
    .cards {
      width: 315px;
      gap: 20px;
      .card {
        width: 147.5px;
        .images {
          > img {
            &:first-child {
              width: 147.5px;
            }
            &:last-child {
              height: 80px;
              width: 80px;
              left: 33.75px;
              top: 31px;
            }
          }
        }
        .bottom {
          width: 147.5px;
        }
      }
    }
  }
}

#discoverMoreNFTs {
  .seeAll2 {
    display: none;
  }
  @include flexCenter();
  gap: 60px;
  padding: 80px 0px;
  flex-direction: column;
  .top {
    display: flex;
    column-gap: 100px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 10px;
      width: 703px;
      > h3 {
        @include text(38px, 600, 120%);
      }
      > p {
        @include text(22px, 400, 160%);
      }
    }
    .seeAll {
      @include buttonHollow(60px);
      @include text(16px, 600, 140%);
      align-self: flex-end;
    }
  }
  .nfts {
    @include flexCenter();
    width: 1050px;
    gap: 30px;
    .nft {
      border-radius: $border-radius-default;
      transition: 0.5s;
      &:hover {
        scale: 1.08;
        animation: tilt 5.2s ease-in infinite;
        animation-direction: alternate;
      }
      cursor: pointer;
      display: flex;
      flex-direction: column;
      > img {
        width: 330px;
        height: 296px;
        border-top-left-radius: $border-radius-default;
        border-top-right-radius: $border-radius-default;
      }
      > .bottom {
        border-bottom-left-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 20px 30px 25px 30px;
        background-color: $background-secondary;
        .info {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          > h5 {
            @include text(22px, 600, 140%);
            height: 31px;
          }
          .account {
            display: flex;
            column-gap: 12px;
            > img {
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
            > p {
              @include text(16px, 400, 140%);
              font-family: "Space Mono";
              align-self: flex-start;
            }
          }
        }
        .money {
          display: flex;
          column-gap: 21px;

          .left {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            > p {
              &:first-child {
                color: #858584;
                font-family: "Space Mono";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                text-align: start;
                width: 114px;
                height: 13px;
              }
              &:last-child {
                @include text(16px, 400, 140%);
                font-family: "Space Mono";
                text-align: start;
                width: 114px;
                height: 22px;
              }
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            > p {
              &:first-child {
                color: #858584;
                font-family: "Space Mono";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                text-align: end;
                width: 135px;
                height: 13px;
              }
              &:last-child {
                @include text(16px, 400, 140%);
                font-family: "Space Mono";
                text-align: end;
                width: 135px;
                height: 22px;
              }
            }
          }
        }
      }
    }
  }
}

@include for-type(tablet) {
  #discoverMoreNFTs {
    gap: 40px;
    padding: 40px 0px 80px 0px;
    .top {
      display: flex;
      column-gap: 100px;
      .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        width: 403px;
        > h3 {
          font-size: 28px;
          font-weight: 600;
          line-height: 140%;
        }
        > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
    .nfts {
      width: 690px;
      gap: 30px;
      .nft {
        &:last-child {
          display: none;
        }
        > img {
          height: 295px;
          object-fit: cover;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #discoverMoreNFTs {
    padding: 40px 0px;
    .seeAll2 {
      @include buttonHollow(60px);
      @include text(16px, 600, 140%);
    }
    .top {
      display: flex;
      column-gap: 100px;
      .left {
        row-gap: 10px;
        width: 315px;
      }
      .seeAll {
        display: none;
      }
    }

    .nfts {
      width: 315px;
      gap: 20px;
      flex-direction: column;
      .nft {
        &:last-child {
          display: flex;
        }
        &:hover {
          scale: 1.05;
        }
        > img {
          width: 315px;
          height: 238px;
        }
        > .bottom {
          padding: 20px 20px 25px 20px;
          gap: 25px;
          .info {
            > h5 {
              @include text(22px, 600, 140%);
            }
            .account {
              display: flex;
              column-gap: 12px;
              > img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
              }
            }
          }
          .money {
            display: flex;
            column-gap: 21px;

            .left {
              > p {
                &:first-child {
                  width: 116.5px;
                }
                &:last-child {
                  width: 116.5px;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 110%;
                  height: 13px;
                }
              }
            }
            .right {
              row-gap: 8px;
              > p {
                &:first-child {
                  width: 137.5px;
                }
                &:last-child {
                  width: 137.5px;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 110%;
                  height: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#nftInfo {
  height: 640px;
  @include flexCenter();
  position: relative;
  img {
    height: 640px;
    width: 100%;
    object-fit: cover;
  }
  .gradient {
    height: 640px;
    width: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    position: absolute;
  }
  .content {
    display: flex;
    width: 1050px;
    position: absolute;
    top: 360px;
    .seeNft2 {
      display: none;
    }
    .left {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      width: 755px;
      .artist {
        cursor: pointer;
        display: flex;
        column-gap: 12px;
        background-color: $background-secondary;
        padding: 10px 20px;
        border-radius: $border-radius-default;
        width: 151px;
        > img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
        > p {
          @include text(16px, 400, 140%);
        }
      }
      > h2 {
        @include text(51px, 600, 110%);
      }
      .seeNft {
        @include buttonPurple(60px);
        padding-top: 20px;
        padding-bottom: 20px;
        @include text(16px, 600, 140%);
        color: black;
        background-color: white;

        width: 198px;
        > img {
          height: 20px;
          width: 20px;
        }
      }
    }
    .timerBox {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: $border-radius-default;
      background: rgba(59, 59, 59, 0.5);
      backdrop-filter: blur(5px);
      height: 147px;
      align-self: flex-end;
      > p {
        width: 235px;
        @include text(12px, 400, 110%);
        font-family: "Space Mono";
      }
      .timer {
        display: flex;
        column-gap: 10px;
        .time {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          width: 53px;
          > h3 {
            @include text(38px, 700, 120%);
            font-family: "Space Mono";
          }
          > p {
            @include text(12px, 400, 110%);
            font-family: "Space Mono";
          }
        }
        .dots {
          width: 18px;
          @include text(28px, 700, 140%);
          text-align: center;
        }
      }
    }
  }
}

@include for-type(tablet) {
  #nftInfo {
    height: 630px;
    img {
      height: 630px;
    }
    .gradient {
      height: 630px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(162, 89, 255, 0) 0%,
        #a259ff 100%
      );
      position: absolute;
    }
    .content {
      width: 670px;
      .left {
        row-gap: 30px;
        width: 375px;
        > h2 {
          font-size: 38px;
          font-weight: 600;
          line-height: 120%;
        }
      }
    }
  }
}

@include for-type(mobile) {
  #nftInfo {
    height: 593px;
    img {
      height: 593px;
    }
    .gradient {
      height: 593px;
    }
    .content {
      width: 315px;
      top: 120px;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      .seeNft2 {
        @include buttonPurple(60px);
        padding-top: 20px;
        padding-bottom: 20px;
        @include text(16px, 600, 140%);
        color: black;
        background-color: white;
        width: 315px;
        > img {
          height: 20px;
          width: 20px;
        }
      }
      .left {
        row-gap: 30px;
        width: 315px;
        .artist {
          cursor: pointer;
          display: flex;
          column-gap: 12px;
          background-color: $background-secondary;
          padding: 10px 20px;
          border-radius: $border-radius-default;
          width: 151px;
          > img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
          > p {
            @include text(16px, 400, 140%);
          }
        }
        .seeNft {
          display: none;
        }
      }
      .timerBox {
        width: 315px;
        > p {
          width: 255px;
        }
        .timer {
          .time {
            width: 59.66px;
          }
        }
      }
    }
  }
}

#howItWorks {
  padding: 80px 0px;
  @include flexCenter();
  flex-direction: column;
  row-gap: 48px;
  .top {
    width: 1050px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    > h3 {
      @include text(38px, 600, 120%);
    }
    > p {
      @include text(22px, 400, 160%);
    }
  }
  .cards {
    @include flexCenter();
    gap: 30px;
    flex-wrap: wrap;
    .card {
      padding: 10px 30px 30px 30px;
      @include flexCenter();
      flex-direction: column;
      row-gap: 20px;
      background-color: $background-secondary;
      border-radius: $border-radius-default;
      .text {
        @include flexCenter();
        flex-direction: column;
        row-gap: 10px;
        width: 270px;
        > h5 {
          @include text(22px, 600, 140%);
          text-align: center;
          height: 31px;
        }
        > p {
          @include text(16px, 200, 140%);
          text-align: center;
          height: 88px;
        }
      }
    }
  }
}

@include for-type(tablet) {
  #howItWorks {
    padding: 40px 0px;
    row-gap: 40px;
    .top {
      width: 690px;
      > h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
      }
      > p {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
      }
    }
    .cards {
      .card {
        padding: 10px 20px 30px 20px;
        > img {
          height: 160px;
        }
        .text {
          width: 170px;
          > h5 {
            font-size: 16px;
            height: 22px;
          }
          > p {
            font-size: 12px;
            height: 68px;
          }
        }
      }
    }
  }
}

@include for-type(mobile) {
  #howItWorks {
    .top {
      width: 315px;
      > h3 {
        @include text(38px, 600, 120%);
      }
      > p {
        @include text(22px, 400, 160%);
      }
    }
    .cards {
      gap: 30px;
      flex-direction: column;
      .card {
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
        width: 315px;
        align-items: center;
        > img {
          height: 100px;
        }
        .text {
          width: 155px;
          > h5 {
            text-align: start;
            align-self: start;
          }
          > p {
            text-align: start;
            height: 85px;
          }
        }
      }
    }
  }
}

#subscribeWidget {
  background-color: $background;
  padding: 40px 0px 80px 0px;
  @include flexCenter();
  .content {
    padding: 60px;
    background-color: $background-secondary;
    display: flex;
    align-items: center;
    column-gap: 80px;
    border-radius: $border-radius-default;
    > img {
      width: 425px;
      height: 310px;
      object-fit: cover;
      border-radius: $border-radius-default;
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 425px;
      height: 272px;
      justify-content: center;
      .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > h3 {
          @include text(38px, 600, 120%);
          height: 92px;
          text-transform: capitalize;
        }
        > p {
          @include text(22px, 400, 160%);
          height: 70px;
        }
      }
      .emailBox {
        width: 425px;
        height: 60px;
        position: relative;
        > .emailInput {
          @include input(425px, 60px);
          padding-right: 223px;
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
        > .emailBtn {
          position: absolute;
          right: 0;
          top: 0;
          @include buttonPurple(60px);
          border: 1px solid $call-to-action;
          width: 211px;
          @include text(16px, 600, 140%);
          &:hover {
            transform: translateY(0px);
            box-shadow: rgba(0, 0, 0, 0.205) 0px 10px 20px,
              rgba(0, 0, 0, 0.171) 0px 8px 8px;
          }
          &:active {
            transform: translateY(0px);
            box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
            scale: 0.99;
          }
        }
        > p {
          position: absolute;
          left: 14px;
          bottom: -20px;
          color: red;
          font-size: 16px;
          display: none;
        }
      }
    }
  }
}
