html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
}

#navBar {
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#navBar .container {
  width: 1280px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navBar .container .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
#navBar .container .left > img:last-child {
  align-self: flex-end;
  margin-bottom: 3.6px;
}
#navBar .container .burger {
  display: none;
  cursor: pointer;
}
#navBar .container .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
#navBar .container .right a {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 140%;
  color: white;
  text-decoration: none;
  display: flex;
  height: 46px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#navBar .container .right a:hover {
  scale: 1.05;
}
#navBar .container .right a:active {
  scale: 1;
}
#navBar .container .right .signUp {
  display: inline-flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
#navBar .container .right .signUp:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#navBar .container .right .signUp:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
  scale: 0.99;
}
#navBar .sideBar {
  z-index: -1;
  opacity: 0;
  padding: 10px 30px;
  width: 100%;
  background-color: rgb(43, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  transition: 0.8s;
}
#navBar .sideBar a {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 140%;
  color: white;
  text-decoration: none;
  display: flex;
  height: 46px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#navBar .sideBar a:hover {
  scale: 1.05;
}
#navBar .sideBar a:active {
  scale: 1;
}
#navBar .sideBar .signUp {
  display: inline-flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  right: 50px;
}
#navBar .sideBar .signUp:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#navBar .sideBar .signUp:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
  scale: 0.99;
}

@media (max-width: 1280px) {
  #navBar .container {
    padding: 15px 50px;
  }
  #navBar .container > a .left > img:first-child {
    width: 24px;
    height: 24px;
  }
  #navBar .container > a .left > img:last-child {
    width: 149.56px;
    height: 14.85px;
  }
  #navBar .container .burger {
    display: initial;
  }
  #navBar .container .right {
    display: none;
  }
  #navBar .sideBar {
    display: flex;
    justify-content: flex-end;
    gap: 0px;
    padding: 15px 10px;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 50px;
    width: -moz-fit-content;
    width: fit-content;
  }
  #navBar .sideBar a {
    font-size: 16px;
    height: 100%;
    padding: 0px 10px;
  }
}
@media (max-width: 834px) {
  #navBar .container {
    padding: 15px 30px;
  }
  #navBar .sideBar {
    right: 30px;
  }
}
@media (min-width: 1280px) {
  #navBar .sideBar {
    display: none;
  }
}
#hero {
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}
#hero .content {
  width: 1050px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#hero .content .leftHero {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
#hero .content .leftHero .topText {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 510px;
}
#hero .content .leftHero .topText > h4 {
  font-size: 67px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 110%;
  color: white;
}
#hero .content .leftHero .topText > p {
  font-size: 22px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160%;
  color: white;
}
#hero .content .leftHero .GetStartedhero {
  display: inline-flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  width: 224px;
}
#hero .content .leftHero .GetStartedhero:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#hero .content .leftHero .GetStartedhero:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
  scale: 0.99;
}
#hero .content .leftHero .GetStartedhero:hover {
  scale: 1.05;
}
#hero .content .leftHero .GetStartedhero:active {
  scale: 1;
}
#hero .content .bottomCount {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#hero .content .bottomCount .numbers {
  display: flex;
  flex-direction: column;
}
#hero .content .bottomCount .numbers > h4 {
  width: 150px;
  font-size: 28px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 140%;
  color: white;
}
#hero .content .bottomCount .numbers > p {
  width: 150px;
  font-size: 23.99px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160%;
  color: white;
}
#hero .content .rightHero2 {
  display: none;
}
#hero .content .rightHero {
  display: flex;
  flex-direction: column;
}
#hero .content .rightHero > img {
  height: 401px;
  width: 510px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#hero .content .rightHero .rightBottom {
  background-color: #3b3b3b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#hero .content .rightHero .rightBottom > h5 {
  font-size: 22px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 140%;
  color: white;
}
#hero .content .rightHero .rightBottom .animaKid {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
#hero .content .rightHero .rightBottom .animaKid > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#hero .content .rightHero .rightBottom .animaKid > p {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 140%;
  color: white;
}

@media (max-width: 1280px) {
  #hero .content {
    width: 690px;
  }
  #hero .content .leftHero {
    row-gap: 20px;
  }
  #hero .content .leftHero .topText {
    width: 330px;
  }
  #hero .content .leftHero .topText > h4 {
    font-size: 38px;
    line-height: 120%;
  }
  #hero .content .leftHero .topText > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  #hero .content .bottomCount .numbers > h4 {
    width: 90px;
    font-size: 22px;
    line-height: 160%;
  }
  #hero .content .bottomCount .numbers > p {
    width: 90px;
    font-size: 16px;
    line-height: 140%;
  }
  #hero .content .rightHero > img {
    width: 330px;
    height: 221px;
  }
}
@media (max-width: 834px) {
  #hero {
    padding: 40px 0px;
  }
  #hero .content {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  #hero .content .leftHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  #hero .content .leftHero .topText {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 315px;
  }
  #hero .content .leftHero .topText > h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
  }
  #hero .content .leftHero .topText > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  #hero .content .leftHero .GetStartedhero {
    display: inline-flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background: #a259ff;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 315px;
  }
  #hero .content .leftHero .GetStartedhero:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #hero .content .leftHero .GetStartedhero:active {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
    scale: 0.99;
  }
  #hero .content .leftHero .GetStartedhero:hover {
    scale: 1.05;
  }
  #hero .content .leftHero .GetStartedhero:active {
    scale: 1;
  }
  #hero .content .bottomCount {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  #hero .content .bottomCount .numbers {
    display: flex;
    flex-direction: column;
  }
  #hero .content .bottomCount .numbers > h4 {
    width: 85px;
    font-size: 22px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 160%;
    color: white;
  }
  #hero .content .bottomCount .numbers > p {
    width: 85px;
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 140%;
    color: white;
  }
  #hero .content .rightHero {
    display: none;
  }
  #hero .content .rightHero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .content .rightHero2 > img {
    width: 315px;
    height: 206px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #hero .content .rightHero2 .rightBottom {
    width: 315px;
    background-color: #3b3b3b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #hero .content .rightHero2 .rightBottom > h5 {
    font-size: 22px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    line-height: 140%;
    color: white;
  }
  #hero .content .rightHero2 .rightBottom .animaKid {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  #hero .content .rightHero2 .rightBottom .animaKid > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  #hero .content .rightHero2 .rightBottom .animaKid > p {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 140%;
    color: white;
  }
}
#trending {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2b2b2b;
}
#trending > h3 {
  font-size: 38px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 120%;
  color: white;
  text-align: start;
  width: 1046px;
}
#trending > p {
  font-size: 22px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160%;
  color: white;
  text-align: start;
  margin-top: 10px;
  width: 1046px;
}
#trending .boxes {
  margin-top: 60px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#trending .boxes .box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: start;
}
#trending .boxes .box > img {
  width: 330px;
  height: 330px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}
#trending .boxes .box > img:hover {
  scale: 1.05;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
#trending .boxes .box .moreImg {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#trending .boxes .box .moreImg > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}
#trending .boxes .box .moreImg > img:hover {
  scale: 1.05;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
#trending .boxes .box .moreImg .more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #a259ff;
  border-radius: 20px;
  font-size: 22px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 160%;
  color: white;
  font-family: "Space Mono";
  transition: 0.3s;
  cursor: pointer;
}
#trending .boxes .box .moreImg .more:hover {
  scale: 1.05;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
#trending .boxes .box .bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
#trending .boxes .box .bottom > h5 {
  font-size: 22px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 140%;
  color: white;
}
#trending .boxes .box .bottom .account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
#trending .boxes .box .bottom .account > img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}
#trending .boxes .box .bottom .account > p {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 140%;
  color: white;
}