@mixin buttonPurple($height) {
  display: inline-flex;
  height: $height;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  border-radius: $border-radius-default;
  background: $call-to-action;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
    scale: 0.99;
  }
}

@mixin buttonHollow($height) {
  background-color: transparent;
  display: inline-flex;
  height: $height;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  border-radius: $border-radius-default;
  border: 2px solid $call-to-action;
  color: $call-to-action;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
    scale: 0.99;
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-style: normal;
  font-family: Work Sans;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: white;
}

@mixin hoverForTrending() {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    scale: 1.05;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  }
}

@mixin for-type($type) {
  @if $type==mobile {
    @media (max-width: 834px) {
      @content;
    }
  } @else if $type==tablet {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $type==desktop {
    @media (min-width: 1281px) {
      @content;
    }
  }
}

@mixin multiple-none($count, $count-from-end) {
  @for $i from $count-from-end through $count {
    &:nth-child(#{$i}) {
      display: none;
    }
  }
}

@mixin input($width, $height) {
  display: flex;
  height: 60px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  gap: 12px;
  width: $width;
  height: $height;
  outline: none;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  transition: 0.3s;
  &:hover {
    border: 1px solid rgba(161, 89, 255, 0.424);
  }
  &:focus {
    border: 1px solid rgb(161, 89, 255);
  }
}

@mixin toast($color) {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  background-color: white;
  width: 250px;
  height: 60px;
  @include text(14px, 600, 140%);
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 14px;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    > img {
      height: 25px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: $color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    bottom: 0px;
    left: 0;
  }
}
